elasticsearch==8.0.0
fastapi==0.110.1
nltk==3.8.1
pydantic==2.7.0
pydantic_settings==2.2.1
tqdm==4.64.1
uvicorn==0.29.0
sentence_transformers==3.3.1
gradio==4.31.4
seaborn==0.13.2
pandas==2.2.3
haystack-ai==2.8.0
huggingface_hub==0.25.0
einops==0.8.0
fastparquet>=2024.11.0
pyarrow==18.1.0